{{ 'search.css' | asset_url | stylesheet_tag }}
<header>
	<div class=" color-{{ section.settings.color_scheme }} ">
		<div class="header">
			<div class="ctnr-fluid d-flex between-xs middle-xs">
				<div class="header__icon-menu">
					<div class="open-mb">
						<div class="open-mb open-menu-mb">
							{%  render 'icon-menu' %}
						</div>
						<div class=" close-menu-mb">
							<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
								<path d="M1 1L16 16M16 1L1 16" stroke="var( --color-text)" stroke-width="2.4"/>
							</svg>
						</div>
					</div>
					<div class="bopup-mh p-absolute right-0 left-0">
						<div class="background-color ctnr-fluid header-mobile">
							<div class="bopup-mh__search">
								<form action="" class="p-relative">
									<div class="form-group">
										<input type="text" class="form-control form__search-mb w-100" id="" placeholder= "Type something...">
									</div>
									<button type="submit" class="btn btn__search-mb p-absolute right-0 top-0 h-100">Find</button>
								</form>
							</div>
							<div class="bopup-mh__search">
								{% render 'menu-mobile' %}
							</div>
						</div>
					</div>
				</div>
				{% render 'header-logo' %}
				<div class="d-flex ">
					<div class="header__menu">
						{% render 'menu'%}
					</div>
					<div class="header__search header__search--desktop close-search">
						<button class="background-color d-flex color-text border-0">
							{% render 'icon-search' %}
							<span  class="color-text d-inline-block healine tt-up">
								Search
							</span>
						</button>
					</div>
				</div>
				<div class="d-flex header-icon middle-xs">
					<div class="header__account">
						<ul class="d-flex">
							<li><a href="" class="color-text healine tt-up">Sign in</a></li>
							<li><a href="" class="color-text healine tt-up">Create an account</a></li>
						</ul>
					</div>
					<div class="header__icon d-flex middle-xs">
						<div class="header__icon--search-mobile close-search">
							<button class="background-color d-flex border-0 color-text">
								{% render 'icon-search' %}
							</button>
						</div>
						<div class="header__icon--heart">
							<button class="background-color border-0 color-text">
								{% render 'icon-heart' %}
							</button>
						</div>
						<div class="header__icon--cart">
								<button class="btn__cart background-color border-0 d-flex color-text middle-xs">
									{% render 'icon-cart'%}
									<div class="ta-left">
										<span class="d-block color-text">Shopping cart</span>
										<span class="d-block color-text fw-700">0,00 EUR</span>
									</div>
								</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bopup__search search-bar p-absolute middle-xs center-xs d-flex top-0 left-0 right-0 background-color ">
			<div class="close__search close-search">
				<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
					<path d="M0.849121 1L21.8491 22M21.8491 1L0.849121 22" stroke="#C4C4C4" stroke-width="2"/>
				</svg>
			</div>
			<div class="ctnr-fluid p-absolute bopup__search--w">
				{% render 'search'%}
			</div>
		</div>
	</div>
</header>
<script>
	var clickmenu = document.querySelectorAll(".click-menu")
  console.log(clickmenu)
	clickmenu.forEach(function(item) {
  item.addEventListener('click', function(event) {
		item.classList.toggle('open-menu-mobile');
  });
});
</script>
<script>
	const nav = document.querySelector('.open-mb');
const menu = document.querySelector('.bopup-mh');
console.log(nav)
let isMenuOpen = false;
nav.addEventListener('click', e => {
  e.preventDefault();
  isMenuOpen = !isMenuOpen;
  // nav.setAttribute('aria-expanded', String(isMenuOpen));
  // menu.hidden = !isMenuOpen;
  if (isMenuOpen) {
      menu.classList.add('menu-show');
      nav.classList.add('show-icon-menu');
    } else {
      menu.classList.remove('menu-show');
      nav.classList.remove('show-icon-menu');
    }
})
</script>
{% schema %}  
{
	"name": "Header",
	"settings": [
		{ 
			"type": "image_picker",
			"id": "logo",
			"label": "Logo"
		},
		{
			"type": "link_list",
			"id": "menu",
			"default": "main-menu",
			"label": "Menu header"
		},
		{ 
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "Color scheme",
			"default": "background-1"
		},
		{ 
			"type": "image_picker",
			"id": "img_menu",
			"label": "Image menu cấp 2"
		}
	]
}
{% endschema %}